#user-grid {
  list-style: none;
  padding-left: 0;
}

#user-grid li {
  border: 2px solid #a7a7a7;
  padding: 3px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 110px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-grid img {
  display: block;
  width: 100px;
}