#root {
  height: 100%;
}

.result-count {
  position: relative;
  font-weight: 600;
  margin-bottom: 5px;
  width: 46%;
  height: 30px;
  margin: auto;
}

.count {
  position: absolute;
  top: 2px;
}
