#user-grid {
  list-style: none;
  padding-left: 0;
  width: 60%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#user-grid li {
  border: 1.5px solid #a7a7a7;
  padding: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 49%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-grid img {
  float: left;
  width: 130px;
  margin-right: 5px;
}

#name {
  font-size: 17px;
}

#bio {
  overflow: auto;
  white-space: normal;
  max-height: 4.5em;
}

.user-grid-wrapper {
  position: relative;
  height: calc(100% - 85px);
}

.user-detail div {
  line-height: 1.5em;
}

.user-detail label {
  font-weight: 600;
}

.location {
  background-image: url('../../../assets/location.png');
  background-size: 15px;
  background-repeat: space;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 3px;
}