#user-grid {
  list-style: none;
  padding-left: 0;
  width: 46%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10px;
  overflow: auto;
}

#user-grid li {
  border: 1.5px solid #a7a7a7;
  padding: 3px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 109px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#user-grid img {
  display: block;
  width: 100px;
  pointer-events: none;
}

.user-grid-wrapper {
  position: relative;
  height: calc(100% - 85px);
}