#repo-grid {
  list-style: none;
  padding-left: 0;
  width: 46%;
  overflow-y: auto;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#repo-grid li {
  position: relative;
  border: 1px solid #a7a7a7;
  padding: 3px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

#repo-grid li h3 {
  padding: 5px;
}

#repo-grid img {
  float: left;
  max-width: 100px;
  margin-right: 5px;
}

@media (max-width: 500px) {
  #repo-grid {
    width: auto;
  }

  #repo-grid li h3 {
    position: relative;
    top: 10px;
  }

  #repo-grid img {
    display: none;
  }
}

#desc {
  display: block;
  padding: 5px;
}

.repo-grid-wrapper {
  display: flex;
  position: relative;
  height: calc(100% - 85px);
}

#stats {
  position: absolute;
  top: 0;
  right: 0px;
}

#stats > div {
  display: inline-block;
  padding: 5px;
}

.star {
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.fork {
  background-image: url('../../../assets/fork.png');
  background-size: 14px;
  background-repeat: space;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 3px;
}

#owner-info {
  font-weight: 400;
  margin-left: 5px;
}